/* the styles for the elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #931420;
    background-color: #fffded;

}
/* the styles for the header */
header img {
    float: left;
}

header {
    padding: 1.5em 0 2em 0;
    border-bottom: 3px solid #931420;
    background-image: linear-gradient(
        30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header h2 {
    font-size: 170%;
    color: #800000;
    padding: 0 30px 0 30px;


}
header h3 {
    font-size: 130%;
    font-style: italic;
    padding: 0 30px 0 30px;

}

.shadow {
    text-shadow: 2px 2px 2px #800000;
}
/* the styles for the main content */
main {
    clear: left;
    margin-left: 30px;
    margin-right: 30px;

}

section{
    width:525px;
    float:right;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}
section h1{


}
section h2{

}

main h1 {

}
main h2 {
    color: #800000;
    font-size: 130%;
    padding-top: .5em;
    padding-bottom: .25em;
}
main h3 {
    font-size: 105%;
    padding-bottom: .25em;

}
img{
    padding-bottom: 1em;
}

p{
    padding-bottom:.5em ;
}
blackquote{
    padding-right: 2em ;
    padding-left: 2em ;

}
ul{
    padding-bottom:.25em ;
    padding-left: 1.25em ;
}
li{
    padding-bottom: .35em;
}
a:focus, a:hover {
    font-style: italic;
}

/* styles for aside */
aside{
    padding-bottom: 20px;
    padding-left: 20px;

}
aside h2{

}

aside h3{
    font-size: 105%;
    padding-bottom: .25em;
}
aside img{
    padding-bottom: 1em;
}

/* the styles for the footer */
footer {
	text-align: center;
    border-bottom: 3px solid #931420;
    background-color: #931420;
    color: white;
    clear: both;
}
